* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background: rgb(47,0,92);
    background: linear-gradient(180deg, rgba(47,0,92,1) 0%, rgba(10,0,17,1) 100%);
    color: white;
    margin: 0px;
}



/* ========================
   Header properties
   ======================== */

   .header-banner {
    background-image: url("../_images/code_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2f005c;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #9720ac;
    margin-bottom: 50px;
}

.header-banner h1 {
    text-align: center;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 2em;
    margin: 0;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
}

.newsletter-icon {
    margin: auto;
    background-image: url(../_images/news_icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}

.header-intro {
    padding-top: 25px;
    padding-bottom: 50px;
    margin: auto;
    width: 90%;
    text-align: center;
}



/* ========================
   Main properties
   ======================== */



/* ========================
   Form properties
   ======================== */

form {
    width: 90%;
    margin: auto;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

legend {
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

label {
    display: inline-block;
    font-size: 1.125em;
    margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    text-align: left;
    border-style: solid;
    border: none;
}

input:focus {
    outline: none !important;
    border: 3px solid #9720ac;
}

::placeholder {
    color: darkgrey;
}

select {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
}

#zip {
    width: 33%;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

textarea {
    display: inline-block;
    width: 100%;
    height: 115px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    font-size: 1em;
    line-height: 1.15em;
}

textarea:focus {
    outline: none !important;
    border: 3px solid #9720ac;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.newletter-choices {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.newletter-choices:first-child {
    margin-top: 0;
}

.newletter-choices:last-child {
    margin-bottom: 0;
}



/* ========================
   Submit button properties
   ======================== */

.button-container {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.125em;
}

button {
    display: inline-block;
    margin: auto;
    background: #2f005c;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 16px 40px;
    text-decoration: none;
    letter-spacing: 1px;
    appearance: none;
    cursor: pointer;
}

button:hover {
    background: rgb(47,0,92);
    background: linear-gradient(0deg, rgba(47,0,92,1) 0%, rgba(151,32,172,1) 100%);
}

button:active {
    background: rgb(47,0,92);
    background: linear-gradient(180deg, rgba(47,0,92,1) 0%, rgba(10,0,17,1) 100%);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}



/* ========================
   Footer properties
   ======================== */

.footer-container {
    background: rgb(47,0,92);
    padding: 2px;
    bottom: 0;
    left: 0;
    margin-top: 15px;
}

.footer-copyright {
    text-align: center;
    text-transform: lowercase;
}



@media (min-width: 768px) {

    form {
        width: 75%;
        max-width: 860px;
    }

    br {
        display: none;
    }

    label {
        float: left;
        width: 27%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        float: right;
        width: 70%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    select {
        display: inline-block;
        float: right;
        width: 70%;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 5px;
        appearance: none;
        cursor: pointer;
    }

    .select-top-margin {
        float: right;
        display: inline-block;
        margin-top: 20px;
    }

    .zip-container {
        display: inline-block;
        width: 100%;
    }

    label[for="zip"] {
        display: inline-block;
        width: 27%;
        margin-right: 3%;
    }

    .zip-input-float-container { 
        float: right;
        width: 70%;
    }

    input[id=zip] {
        display: inline-block;
        float: left;
        width: 50%;
    }

    .choices-sans-p {
        /* display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap; */
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .newletter-choices-item {
        display: block;
        width: 100%;
    }

    input[type="checkbox"],
    input[type="radio"] {
        float: left;
        margin-right: 15px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    label[for="html-news"],
    label[for="css-news"],
    label[for="javascript-news"],
    label[for="news-format-html"],
    label[for="news-format-plain-text"] {
        margin-top: 20px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

}